#bio {
    text-align: center;

}
.container{
    background-color: #efeee7;
    color: #333333;
    float: left;

}
p {
 
    float: left;

}
font-family: Georgia;
padding20px 0;
margin-bottom; 20px;